@model IEnumerable<SuperbrainEmail.Controllers.ViewModelChiNhanh>

@{
    ViewBag.Title = "Quản lý Cơ sở";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
    <div>
        <h2>Danh sách Cơ sở</h2>
        <p>Kỳ tính phí tháng @ViewBag.thang</p>
    </div>
    <a href="/QuanLyCoSo/SendEmails" class="btn btn-sm btn-outline-success">Gửi mail báo Phí</a>
</div>

<table class="table table-striped">
    <tr>
        <th>Tên</th>
        <th>Email</th>
        <th>Phí thương hiệu</th>
        <th>Phí tài khoản</th>
        <th>Phí TK @ViewBag.thang</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/QuanLyCoSo/Check_Email/@item.id" class="text-bold">
                @Html.DisplayFor(modelItem => item.Ten)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateExpire)
        </td class="text-center">
            <td>
            <b>@Html.DisplayFor(modelItem => item.SoluongTK)</b>
            </td>
        <td>
            @Html.Raw(item.TrangthaiPhiTKOnline)
        </td>
    </tr>
}
</table>
